/The FoodieZ App/src/main/java/com/ayush/springmvcboot/practice/
/The FoodieZ App/src/main/java/com/ayush/springmvcboot/old/
/The FoodieZ App/src/main/java/com/ayush/springmvcboot/model/old/
/The FoodieZ App/target/
